
.container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: calc(100% - 10px);
  z-index: 1;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: center;
}

#code {
  font-size: 24px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: auto;
  font-weight: bold;
  gap: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#clipboard {
  font-size: 16px;
  transition: 0.3s;
}

#clipboard:hover {
  font-size: 16px;
  color: var(--text-color-main);;
}


#school-select {
  display: none;
}

#buttonsdown {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  bottom: 20px;
  right:12px;
  padding: 4px;
  gap: 10px;
  z-index: 10000;
}
#posts {
  display: flex;
  flex-grow: 1;
  border: none;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap:10px;
}

#post {
  height: auto;
  border: 1px solid var(--border-color);
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 4px;
    gap: 10px;
}

#post p:first-child {
  margin-top: 8px;
}

#post p{
  margin-top: 0;
}

#post img{
  width: 100%;
}

#post textarea{
  width: 98%;
  height: auto;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  border: 1px none var(--border-color);
}

#post #post-buttons{
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  margin-bottom: 10px;
  gap: 10px;
}

#camera-button, #qr-code-reader {
  background-color: var(--button-bg-color); /* Button background color */
  color: var(--text-color-main); /* Icon color */
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px var(--text-color-main);
  opacity: 0.5;
  transition: all 0.3s ease;
}

#camera-button:hover, #qr-code-reader:hover {
  transform: scale(1.15);
  background-color: var(--button-hover-bg-color);
  opacity: 1;
  filter: invert(); /* Darker button background on hover */
}

.attendanceList nav {
  display: flex;
  align-items: center;
  padding: 4px;
  justify-content: space-between;
  color: var(--text-color-main);
}

.attendanceList #search {
  display: flex;
  flex-direction: row;
  width: 80px;
  text-align: left;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 4px 8px;
  margin: 0;
  transition: all 0.5s ease;
  align-items: center;
}

.attendanceList #search input {
  width: 40px;
  text-align: left;
  border-radius: 4px;
  border: none;
  padding: 8px 18px;
  margin: 0%;
  margin-left: -4px;
  color: var(--text-color-second);
  transition: all 0.3s ease;
}

.attendanceList #search i {
  font-size: 15px;
  color: var(--text-color-second);
}

.attendanceList #search:focus-within {
  width: 200px;
}

.attendanceList #search input:focus-visible {
  width: 150px;
  padding: 8px 18px;
  margin: 0;
  margin-left: 4px;
  outline: none; /* Remove default focus outline */
}

.attendanceList {
  display: none;
}

#attendanceTab:checked ~ #formSwitch + .form-section #attendanceList {
  display: block;
}


/* Show the classjoinForm when joinTab is checked */
#postTab:checked ~ #formSwitch + .form-section #postList {
  display: block;
}

#attendanceTab:checked~#formSwitch label[for="attendanceTab"],
#postTab:checked~#formSwitch label[for="postTab"] {
  color: var(--active-tab-color);
  border-bottom: 2px solid var(--active-tab-color);
}

@media (max-width: 785px) {
  .container {
    align-self: center;
    height: auto;
  }

  #tabs-content {
    margin-top: 0;
  }
}
