
.container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: calc(100% - 10px);
  z-index: 1;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: center;
}

#code {
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: auto;
  font-weight: bold;
  gap: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#clipboard {
  font-size: 16px;
  transition: 0.3s;
}

#clipboard:hover {
  font-size: 16px;
  color: var(--text-color-main);;
}


#school-select {
  display: none;
}

#buttonsdown {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  bottom: 20px;
  right:12px;
  padding: 4px;
  gap: 10px;
  z-index: 10000;
}

#posts {
  display: flex;
  flex-grow: 1;
  border: none;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap:10px;
  padding: 0;
}

#postHeader {
  display: flex;
  width: 97%;
  align-self: center;
  padding: 4px 12px;
  white-space: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#postHeader div {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  align-self: start;
}

#postHeader label {
  display: flex;
 color: var(--text-color-main);
 justify-self: flex-end;
}

#postOptions {
  display: flex;
  width: 75%;
  align-self: center;
  margin: auto;
  position: fixed;
  bottom: -50%;
  background-color: var(--background-color);
  height: auto;
  z-index: 1000000;
  border-radius: 15px 15px 0 0;
  border: 1px none var(--border-color);
  transition: 0.3s;
  box-shadow: 0 24px 24px var(--text-color-main);

}

#postOptions .postOptionButton{
  color: var(--text-color-main);
  background-color: transparent;
  text-align: left;
  margin-left: 14px;
  width: 100%;
  outline-style: none;
  border: none;
  height: 50px;
}

#postOptions .postOptionButton:hover{
  color: var(--text-color-main);
  background-color: var(--button-hover-bg-color);
  text-align: left;
  margin-left: 14px;
  outline-style: none;
  border: none;
  height: 50px;
}

#postButtons {
  display: flex;
  color: var(--text-color-main);
  flex-direction: row;
  padding: 8px 12px;
  gap: 4px;
  font-size: 20px;
}

#post input {
  position: absolute;
  left: -100%;
}

#post > .option:focus ~ #postOptions {
  bottom: -1%;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Scale up by 20% */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

#heartCheck {
  display: none;
  color: rgb(233, 0, 136);
}

#heartUncheck {
  display: block;
}

#post .like:checked ~ #postButtons #heartCheck {
  display: block;
  animation: scaleUp 0.3s ease;
}

#post .like:checked ~ #postButtons #heartUncheck {
  display: none;
}

#postHeader .img {
  display: flex;
  width: 25px;
  border-radius: 100%;
  border: 3px solid var(--border-color);
}

#post {
  height: auto;
  border: 1px none var(--border-color);
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 4px;
    gap: 10px;
    width: 100%;
}

#post p:first-child {
  margin-top: 8px;
}


#desc {
  color: var(--text-color-main);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#desc + p {
  font-size: 12px;
  margin-bottom: -16px;
}


#post p{
  margin-top: 0;
  width: 95%;
  text-align: left;
}

#post img{
  width: 100%;
  align-self: center;
  margin-left: 0px;
}

#post textarea{
  width: 98%;
  height: auto;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  border: 1px none var(--border-color);
}

#post #post-buttons{
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  margin-bottom: 10px;
  gap: 10px;
}

#camera-button, #qr-code-reader {
  background-color: var(--button-bg-color); /* Button background color */
  color: var(--text-color-main); /* Icon color */
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px var(--text-color-main);
  opacity: 0.5;
  transition: all 0.3s ease;
}

#camera-button:hover, #qr-code-reader:hover {
  transform: scale(1.15);
  background-color: var(--button-hover-bg-color);
  opacity: 1;
  filter: invert(); /* Darker button background on hover */
}

.attendanceList nav {
  display: flex;
  align-items: center;
  padding: 4px 14px;
  justify-content: space-between;
  color: var(--text-color-main);
}

.attendanceList #search {
  display: flex;
  flex-direction: row;
  width: 80px;
  text-align: left;
  border-radius: 4px;
  border: 1px none var(--border-color);
  padding: 4px 8px;
  margin: 0;
  transition: all 0.5s ease;
  align-items: center;
}

.attendanceList #search input {
  width: 40px;
  text-align: left;
  border-radius: 4px;
  border: none;
  padding: 8px 18px;
  margin: 0%;
  margin-left: -4px;
  color: var(--text-color-second);
  transition: all 0.3s ease;
}

.attendanceList #search i {
  font-size: 15px;
  color: var(--text-color-second);
}

.attendanceList #search:focus-within {
  width: 200px;
}

.attendanceList #search input:focus-visible {
  width: 150px;
  padding: 8px 18px;
  margin: 0;
  margin-left: 4px;
  outline: none; /* Remove default focus outline */
}

.attendanceList {
  display: none;
}

#attendanceTab:checked ~ #formSwitch + .form-section #attendanceList {
  display: block;
}


/* Show the classjoinForm when joinTab is checked */
#postTab:checked ~ #formSwitch + .form-section #postList {
  display: block;
}

#attendanceTab:checked~#formSwitch label[for="attendanceTab"],
#postTab:checked~#formSwitch label[for="postTab"] {
  color: var(--active-tab-color);
  border-bottom: 2px solid var(--active-tab-color);
}

@media (max-width: 785px) {
  .container {
    align-self: center;
    height: auto;
  }

  #tabs-content {
    margin-top: 0;
  }

  #postOptions {
    width: 100%;
  }
}

@media (max-width: 414px) {
  #postHeader, #postButtons, #desc {
    width: 90%;
  }

  #postHeader div {
    width: 90%;
  }
}
