.container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: calc(100% - 10px);
  z-index: 1;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: center;
}

#code {
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: auto;
  font-weight: bold;
  gap: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#clipboard {
  font-size: 16px;
  transition: 0.3s;
}

#clipboard:hover {
  font-size: 16px;
  color: var(--text-color-main);
  ;
}


#school-select {
  display: none;
}

#buttonsdown {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  bottom: 20px;
  right: 12px;
  padding: 4px;
  gap: 10px;
  z-index: 10000;
}

#posts {
  display: flex;
  flex-grow: 1;
  border: none;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  transition: all 0.3s;
}

#postHeader {
  display: flex;
  width: 97%;
  align-self: center;
  padding: 4px 12px;
  white-space: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#likes {
  color: var(--text-color-main);
  margin-left: 8px;
  padding: 2px 2px;
  border-radius: 2px;
  font-size: 12px;
}

#postHeader div {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  align-self: start;
}

#postHeader div div {
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#postHeader div div p {
  display: flex;
  margin-top: 0;

}

#postHeader label {
  display: flex;
  color: var(--text-color-main);
  justify-self: flex-end;
}

#postOptions,
.commentBlock #postOptions,
#commentSection,
.comments {
  display: flex;
  width: 75%;
  align-self: center;
  margin: auto;
  position: fixed;
  bottom: -50%;
  background-color: var(--background-color);
  height: auto;
  z-index: 1000000;
  border-radius: 15px 15px 0 0;
  border: 1px none var(--border-color);
  transition: 0.3s;
  box-shadow: 0 0 1px var(--text-color-main);
  padding: 0;
}

.comments {
  height: 55%;
  bottom: -55%;
  flex-wrap: nowrap;
  flex-direction: column;
  touch-action: none;
  /* Disable default touch actions */
}

.comments label:first-child {
  display: block;
  margin: 8px auto;
  color: var(--text-color-main);
  font-size: 14px;
  text-align: center;
  padding: 8px 12px;
  width: 70px;
  margin-top: 14px;
}
.comments label {
  display: block;
  margin: 8px auto;
  color: var(--text-color-main);
  font-size: 14px;
  text-align: center;
  padding: 8px 12px;
  margin-top: 14px;
}

.comments label:first-child::before {
  content: "";
  /* Required to create the pseudo-element */
  position: absolute;
  /* Position it relative to the label */
  top: 10px;
  /* Adjust position above the label */
  left: 50%;
  /* Center it horizontally */
  transform: translateX(-50%);
  /* Adjust to perfectly center */
  width: 30%;
  /* Width of the rounded bar */
  height: 5px;
  /* Height of the rounded bar */
  background-color: grey;
  /* Color of the bar */
  border-radius: 10px;
  /* Rounded corners */
}

#commentSection {
  position: relative;
  display: none;
  box-shadow: none;
  margin: 0;
  z-index: 1;
  width: 95%;
  animation: fadeIn 0.3s ease;
}

#postOptions .postOptionButton {
  color: var(--text-color-main);
  background-color: transparent;
  text-align: left;
  margin-left: 14px;
  width: 100%;
  outline-style: none;
  border: none;
  height: 50px;
}

#postOptions .postOptionButton:hover {
  color: var(--text-color-main);
  background-color: var(--button-hover-bg-color);
  text-align: left;
  margin-left: 14px;
  outline-style: none;
  border: none;
  height: 50px;
}

#postButtons {
  display: flex;
  color: var(--text-color-main);
  flex-direction: row;
  padding: 0 12px;
  gap: 12px;
  font-size: 20px;
}

#post input {
  position: absolute;
  left: -100%;
}

#post>.option:focus~#postOptions {
  bottom: -1%;
}

#post>.comment:checked~#commentSection {
  display: flex;
}

#post>.commentToggle:checked~.comments {
  bottom: -1%;
}


@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    /* Scale up by 20% */
  }

  100% {
    transform: scale(1);
    /* Return to original size */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#heartCheck {
  display: none;
  color: rgb(233, 0, 136);
}

#heartUncheck {
  display: block;
}

#post .like:checked~#postButtons #heartCheck {
  display: block;
  animation: scaleUp 0.3s ease;
}

#post .like:checked~#postButtons #heartUncheck {
  display: none;
}

#post .like:checked~#heartCheck {
  display: block;
  animation: scaleUp 0.3s ease;
}

#post .like:checked~#heartUncheck {
  display: none;
}

#postHeader .img {
  display: flex;
  width: 27px;
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

#post {
  height: auto;
  border: 1px none var(--border-color);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 4px;
  gap: 10px;
  width: 100%;
}


#desc {
  color: var(--text-color-main);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12px;
  white-space: normal;
}

#desc+p {
  font-size: 12px;
}


#desc+label {
  color: var(--text-color-second);
  margin-left: 10px;
  font-size: 12px;
}


#post p {
  margin-top: 0;
  width: 95%;
  padding: 0 10px;
  text-align: left;
}

#postImg {
  width: 100%;
}

#post textarea {
  width: 98%;
  height: auto;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  border: 1px none var(--border-color);
}

#commentArea {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
  border: 1px none var(--border-color);
  border-radius: 40px;
  height: 30px;
  padding: 8px;
  gap: 4px;
  align-items: center;
  width: 100%;
}

#commentArea textarea {
  width: 100%;
  margin: auto;
  display: flex;
  outline: none;
  height: 14px;
  border-bottom: 1px solid var(--border-color);
  overflow-y: hidden;
  padding: 8px 0;
}

#commentArea i {
  color: var(--text-color-main);
}

#commentArea img {
  display: flex;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

#post #post-buttons {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  color: var(--text-color-main);
  background-color: transparent;
  margin-bottom: 10px;
  gap: 10px;
}

.comments div {
  overflow-y: auto;
}

.commentBlock {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.commentBlock div {
  display: flex;
  padding: 8px;
  margin: 0 8px;
  width: 90%;
  align-items: flex-start;
}

.commentBlock div div {
  display: flex;
  gap: 8px;
  width: 90%;
  padding: 0 8px;
  margin: 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.commentBlock label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}

#post .commentBlock .commentBody {
  display: flex;
  flex-direction: column; /* Stack any children vertically, if needed */
  padding: 0 8px;
  width: 90%;
  color: var(--text-color-main);
  max-height: 100px; /* Adjust this height as needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
  text-align: justify;
}

#post .commentBlock .timestamp {
  display: flex;
  flex-direction: row; /* Stack any children vertically, if needed */
  padding: 0 8px;
  width: auto;
  color: var(--text-color-second);
  max-height: 100px; /* Adjust this height as needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  white-space: normal; /* Allow text to wrap */
  align-items: center;
  gap: 10px;
  align-self: flex-end;
  word-wrap: break-word; /* Break long words if necessary */
  text-align: justify;
}
#post .commentBlock .timestamp label {
  margin: 0;
  color: var(--text-color-second);
  padding: 0;
  width: auto;
}

.commentBlock>.option:focus~#postOptions {
  bottom: -1%;
}

.commentPfp {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 100%;
}


#camera-button,
#qr-code-reader {
  background-color: var(--button-bg-color);
  /* Button background color */
  color: var(--text-color-main);
  /* Icon color */
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px var(--text-color-main);
  opacity: 0.5;
  transition: all 0.3s ease;
}

#camera-button:hover,
#qr-code-reader:hover {
  transform: scale(1.15);
  background-color: var(--button-hover-bg-color);
  opacity: 1;
  filter: invert();
  /* Darker button background on hover */
}

.attendanceList nav {
  display: flex;
  align-items: center;
  padding: 4px 14px;
  justify-content: space-between;
  color: var(--text-color-main);
}

.attendanceList #search {
  display: flex;
  flex-direction: row;
  width: 80px;
  text-align: left;
  border-radius: 4px;
  border: 1px none var(--border-color);
  padding: 4px 8px;
  margin: 0;
  transition: all 0.5s ease;
  align-items: center;
}

.attendanceList #search input {
  width: 40px;
  text-align: left;
  border-radius: 4px;
  border: none;
  padding: 8px 18px;
  margin: 0%;
  margin-left: -4px;
  color: var(--text-color-second);
  transition: all 0.3s ease;
}

.attendanceList #search i {
  font-size: 15px;
  color: var(--text-color-second);
}

.attendanceList #search:focus-within {
  width: 200px;
}

.attendanceList #search input:focus-visible {
  width: 150px;
  padding: 8px 18px;
  margin: 0;
  margin-left: 4px;
  outline: none;
  /* Remove default focus outline */
}

.attendanceList {
  display: none;
}

#attendanceTab:checked~#formSwitch+.form-section #attendanceList {
  display: block;
}


/* Show the classjoinForm when joinTab is checked */
#postTab:checked~#formSwitch+.form-section #postList {
  display: block;
}

#attendanceTab:checked~#formSwitch label[for="attendanceTab"],
#postTab:checked~#formSwitch label[for="postTab"] {
  color: var(--active-tab-color);
  border-bottom: 2px solid var(--active-tab-color);
}

@media (max-width: 785px) {
  .container {
    align-self: center;
    height: auto;
  }

  #tabs-content {
    margin-top: 0;
  }

  #postOptions,
  .commentBlock #postOptions {
    width: 100%;
  }
  
  .comments {
    width: 100%;
  }
}

@media (max-width: 414px) {

  #postHeader,
  #postButtons,
  #desc {
    width: 90%;
  }

  #postHeader div {
    width: 90%;
  }
}